.aboutMe{
    color:white;
    max-width: 1024px;
    margin:0 auto;
    padding-top: 5rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img_aboutMe{
    width: 100%;
    max-width: 28rem;
}

.description{
    width: 40%;
    font-size: 1.1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.name_about{
    color: aqua;
    font-size: 2rem;
    text-align: center;
}
