.education{
    color:white;
    max-width: 1024px;
    margin:0 auto;
    padding-top: 6rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column ;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.section_education{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.img_education{
    width: 150px;
    margin-bottom: 1rem;
}

.container_education{
    margin-top: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 280px;
    height: 350px;
    border-radius: 30px;
    box-shadow: rgb(0, 221, 255) 0px 0px 0px 3px;
    transition: transform 150ms ease;
}

.container_education:hover{
    transform: scale(1.1);
}

.name_education{
    font-size: 1.3rem;
    text-align: center;
}